@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

@model PlacementPortal.DAL.ViewModels.ForgotPasswordViewModel;



<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card p-4">
            <h2 class="text-center mb-4 fw-semibold">Login to Placement Portal</h2>
            <form asp-action="ForgotPasswordPost" asp-controller="Authentication" id="loginSubmitForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <div class="input-group ">
                        <input type="email" asp-for="Email" class="border form-control" placeholder="Email"
                            aria-label="Username" aria-describedby="basic-addon1" id="inputEmail" />
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn text-white" id="forgotPasswordSubmit" style="background-color: #a577d3;">Send Email</button>
                </div>
                <div class="back-to-login d-flex justify-content-center mt-3">
                    <a asp-action="Login" asp-controller="Authentication" class="text-decoration-none" style="color: #a577d3;">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<Partial name="_validationScriptsPartial" />
@section Scripts {

    <script src="~/js/authentication.js"></script>
}