@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

@model PlacementPortal.DAL.ViewModels.PasswordResetDTO;



<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card p-4">
            <h2 class="text-center mb-4 fw-semibold">Login to Placement Portal</h2>
            <form asp-action="ResetPasswordPost" asp-controller="Authentication" id="loginSubmitForm" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <div class="input-group ">
                        <input id="loginEmailInput" type="email" asp-for="Email" class="border form-control"
                            placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" id="inputEmail" />
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group ">
                        <input type="password" asp-for="PasswordReset" id="LoginPasswordInput"
                            class="border border-end-0 form-control" placeholder="Password" />
                        <span class="bg-white input-group-text" id="basic-addon2">
                            <i class="fa fa-eye trailing fa fw pe-auto" id="PasswordToggle"></i>
                        </span>
                    </div>
                    <span class="text-danger" asp-validation-for="PasswordReset"></span>
                </div>

                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group ">
                        <input type="password" asp-for="PasswordResetConfirm" id="LoginPasswordInput"
                            class="border border-end-0 form-control" placeholder="Password" />
                        <span class="bg-white input-group-text" id="basic-addon2">
                            <i class="fa fa-eye trailing fa fw pe-auto" id="PasswordToggle"></i>
                        </span>
                    </div>
                    <span class="text-danger" asp-validation-for="PasswordResetConfirm"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn text-white" style="background-color: #a577d3;">Change Password</button>
                </div>
                <div class="back-to-login d-flex justify-content-center mt-3">
                    <a asp-action="Login" asp-controller="Authentication" class="text-decoration-none" style="color: #a577d3;">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<Partial name="_validationScriptsPartial" />
@section Scripts {
    <script>
        $(document).ready(function () {
            // Success Message
        @if (TempData["SuccessMessage"] != null)
        {
            <text>toastr.success("@TempData["SuccessMessage"]");</text>
        }

                // Error Message
        @if (TempData["ErrorMessage"] != null)
        {
            <text>toastr.error("@TempData["ErrorMessage"]");</text>
        }

                // Info Message
        @if (TempData["InfoMessage"] != null)
        {
            <text>toastr.info("@TempData["InfoMessage"]");</text>
        }

                // Warning Message
        @if (TempData["WarningMessage"] != null)
        {
            <text>toastr.warning("@TempData["WarningMessage"]");</text>
        }
            });
    </script>
    <script src="~/js/authentication.js"></script>
}