@{
  Layout = "_MainLayout";
}

<div class="w-100" id="StudentMain">
  @* Here the partial view will be loaded *@
</div>




<Partial name="_validationScriptsPartial" />
@section Scripts {
  <script src="~/js/student.js"></script>
}