@model PlacementPortal.DAL.ViewModels.StudentDashboardDTO;


<div class="row g-4">
    <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm border-0 h-100">
            <div class="card-body">
                <h5 class="card-title text-muted">There are</h5>
                <h2 class="fw-bold text-primary">@Model.UpcomingJobRoles</h2>
                <p class="text-muted mb-0">Jobs upcoming</p>
            </div>
        </div>
    </div>
</div>