@{
  Layout = "_MainLayout";
}

<div class="container mt-5" id="applicationsByStudentMain">
  <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
    <!-- Header with Gradient Background -->
    <div class="card-header text-white text-center fw-bold fs-4"
      style="background: linear-gradient(90deg, #667eea, #764ba2);">
      <h3>My Job Applications</h3>
    </div>

    <div class="container mb-3">
      <div class="row justify-content-center align-items-center g-2">

        <div class="col-sm-12 col-md-6">
          <div class="input-group shadow-sm p-3">
            <input type="text" id="searchFilterJobApplication" class="form-control"
              placeholder="Search by company, profile, etc..." aria-label="Search" />
          </div>
        </div>
      </div>
    </div>


    <div class="card-body p-4 bg-light" id="myApplicationsPaginatedData">
        @* Applications partial view will be rendered here *@
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/jobApplication.js"></script>
}