@{
    Layout = "_MainLayout";
}

<div id="authenticatorDataMain">
    @* All the QR Code and that thing will be registered here *@
</div>


@section Scripts {
    <script src="~/js/mfa.js"></script>
}
