@{
    Layout = "_MainLayout";
}

<div class="container mt-5">
    <h3 class="text-center mb-4" style="color: #764ba2">
        TPO List
    </h3>

    <div class="filter-section shadow-sm d-flex justify-content-center mb-4">
        <div class="col-md-4">
            <input id="searchFilterTPOList" type="text" class="form-control" placeholder="Search..." />
        </div>
    </div>

    <div class="container-fluid" id="paginatedTPOList">
        @* Paginated TPOs will be rendered here *@

    </div>
</div>



<Partial name="_validationScriptsPartial" />
@section Scripts {
    <script src="~/js/tpo.js"></script>
}
